{% load static %}
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hello there !</h1>
          <p class="lead text-muted">This is project site of Department of Experimental Design and Bioinformatics.</p>
          <p>
            <a href="mailto:bartosz.piotr.baranowski@gmail.com?subject=Urgent question!" class="btn btn-primary my-2">Mail me in case any questions</a>
          </p>
          <img src="{% static 'img/logo.PNG' %}">
        </div>
      </section>